body {
  background-color: #F5F6FA;
}

.navbar {
  background-color: #0A3D62 !important;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.btn-primary {
  background-color: #0A3D62;
  border: none;
}

.btn-primary:hover {
  background-color: #3C6382;
}

